:root{
    --cor-site:#F2529D;
}
html{
    font-family: sans-serif;
}
.maxWidth{
    max-width: 90em;/*1440px*/
}
.header{
    text-align: center;
    margin: auto;
}
.header_logo{
    width: 5.9em;
    height: 100%;
    margin: 1em;
}
.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2em;
    font-size: 8em;
}
.header_nav a{
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 1em;
}
.header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-site), #fff 20%);
}
@media screen and (min-width:48em /*768px maior que*/){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_logo{
        margin-left: 2em;
    }
    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }
    .header_nav li{
        display: inline-block;
    }
    .header_nav a{
        color: var(--cor-site);
        border-radius: 5px;
    }
    .header_nav a:hover{
        background-color: color-mix(in srgb,var(--cor-site), #fff 80%);
    }
}
.trailer{
    background-color: #E4F2EB;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}
.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}
.trailer h1{
    font-size: 2em;
    margin-bottom: 1em;
}
.trailer_paragrafo{
    font-size: 1.1em;
}
.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site)#fff 20%);
}
.trailer_video{
    display: none;
}
@media screen and (min-width:48em/*768px maior que*/) {
    .trailer_botao{
        display: none;
    }
    .trailer{
        background-image: url(Imagens/Fundo.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }
    .trailer_video{
        display: block;
    }
    .trailer_video .tamanho{
        border-radius: .8em;
        margin-bottom: 1em;
    }
    .trailer_paragrafo{
        margin-bottom: 2em;
    }
}
.trailer_botao_article{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; 
}
.main_content{
    background-color: #e1d9d9;
    text-align: end;
    padding-top: 1em;
    padding-bottom: 1em;
}
.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}
.main_content_title{
    color: var(--cor-site);
}
.icon_img{
    width: 5.5em;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.col{
    flex: 1 o auto;

/* flew-grow = 1
vai aumentar seu tamanho se houver espaço
flex-shirink = 0
não quero que o elemento diminua

flex-basis = auto
vai depender do width do proprio elemento*/
width: 100%;
}
@media screen and (min-width:48em)/* 768px maior que */{
.col-6{width: calc(50% - 2rem);

}
}
Footer{
    background-color: #F2529D;
    color: #fff;
    padding: 1em;
    text-align: center;
}